<hr>
<article class="github">
  <h1>GitHub</h1>
  <%= link_to "Send an Invite", '/invite' %>

  <h3>Repositories</h3>
  <ul>
    <% github_facade.repos.each do |repo| %>
      <li><%= link_to repo.name, repo.url %></li>
    <% end %>
  </ul>

  <h3>Followers</h3>
  <ul>
    <% github_facade.followers.each do |follower| %>
      <li id="follower-id-<%= follower.github_id %>">
        <%= link_to follower.username, follower.url %>
        <% if follower.has_account? && !current_user.has_friend?(follower.user_id) %>
          | <%= button_to 'Add as Friend', "/friendships/#{follower.user_id}" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3>Following</h3>
  <ul>
    <% github_facade.followings.each do |following| %>
      <li id="following-id-<%= following.github_id %>">
        <%= link_to following.username, following.url %>
        <% if following.has_account? && !current_user.has_friend?(following.user_id) %>
          | <%= button_to 'Add as Friend', "/friendships/#{following.user_id}" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</article>
