<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: :delete, class: "btn btn-primary mb1 bg-teal" %>

  <% if !github_connection && !current_admin? %>
    <%= link_to 'Connect to GitHub', connect_github_path, class: 'btn btn-primary bg-teal' %>
  <% end %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <article>
    <h1>Bookmarked Tutorials</h1>
    <% if !@bookmark_facade %>
      <p>You have no bookmarked videos</p>
    <% else %>
      <% @bookmark_facade.bookmarks.each do |bookmark| %>
        <article id="tutorial-<%= bookmark.tutorial_id %>">
            <h3><%= bookmark.tutorial_title %></h3>
            <ul>
              <% bookmark.videos.each do |video| %>
                <li class="bookmarked-video"><%= link_to video.title, "/tutorials/#{bookmark.tutorial_id}?video_id=#{video.id}" %></li>
              <% end %>
            </ul>
        </article>
      <% end %>
    <% end %>
  </article>

  <%= render partial: "github", locals: { github_facade: @github_facade } if github_connection %>

</section>
